#passcode-stat-terminal
{
    position: absolute;
    right: 60px;
    top: 170px;
    background: black;
    opacity: 0.9;
    padding: 10px;
    overflow: auto;
    height: 200px;
    width: 200px;
    font-size: 10px;
    font-family: coda_regular;
    border-radius: 7px;
    box-shadow: 2px 2px 8px black;
}

.pl_player .RESISTANCE, .pl_player .ALIENS,
.pl_broad .RESISTANCE, .pl_broad .ALIENS
{
    cursor: pointer;
    text-decoration: underline;
}